<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-bar-block w3-dark-grey w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
  <button type="button" class="w3-bar-item w3-button"><%= link_to "Log Out", logout_path, method: :delete %></button>
  <button type="button" class="w3-bar-item w3-button"><%= link_to "Home", user_path(current_user) %></button>
  <button type="button" class="w3-bar-item w3-button"><%= link_to "Add an espresso entry", new_brew_path %></button>
  <button type="button" class="w3-bar-item w3-button"><%= link_to "View all esprsso entries", brews_path %></button>


</div>

<div>
  <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
  
</div>

<script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
     
</body>
</html> 